<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
<!-- Artist -->
 <h3>Signup As Artist</h3>
        <form action="/signup" method="post">
            <input type="text" name='type' value="artist" hidden>

            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter password" required >
            <input type="text" name="username" placeholder="username" required>
            <input type="submit">
        </form>

<!-- Consumers -->
<h3>Signup As User</h3>
        <form action="/signup" method="post">
            <input type="text" name='type' value="consumers" hidden>
   
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter password" required >
            <input type="password" name="password" placeholder="Enter password" required > 
            <input type="text" name="username" placeholder="username" required>
            <input type="submit">
        </form>

    <a href="/">User Login</a>
    
</body>
</html>