<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User dashbord</title>
</head>
<body>
    <h1>User Dashbord</h1>

    <form action="/search" method="post">
        <select name="search_tag" >
            <option value="Song">Song</option>
            <option value="Artist">Artist</option>
            <option value="Album">Album</option>
        </select>
        <input type="text" name="search_query" placeholder="Search Songs">
        <input type="submit" value="Search"> 
    </form>
</body>
</html>